<header class="header container">
  <div class="user-info row">
    <img src="http://downloadicons.net/sites/default/files/abacus-icon-68809.png" alt="abacus" class="abacus">
    <p class="title col-xs-5">Adacus</p>
    <% if session[:user_id] %>
    <div class="user col-xs-5">
      <p class="name col-xs-12"> <%= @user["name"]%></p>
      <%= link_to 'Log Out', logout_path, method: :delete, class: "user-nav col-xs-5" %>
      <%= link_to 'User Dashboard', user_path(@user[:_id]), class: "user-nav col-xs-5" %>

    </div>
    <% else %>
    <%= link_to 'Log in with Facebook', '/auth/facebook', class: "log-in col-xs-2" %>
    <% end %>
  </div>
</header>

<%= react_component 'Board', { data: @playing_board } %>
