<% if session[:user_id] %>
Current user is: <%= @user["name"]%>
<%= link_to 'Log Out', logout_path, method: :delete %>
<%= link_to 'User Dashboard', user_path(@user[:_id]) %>
<% else %>
<%= link_to 'Log in with Facebook', '/auth/facebook' %>
<% end %>






<%= react_component 'Board', { data: @playing_board } %>

<%= react_component 'Hand', { data: @operator_hand_info } %>

<%= react_component 'Hand', { data: @hand_info } %>

<h1><%= "The set from Mongo is: #{ @dbset }" %></h1>
